# Environment variables
.env

# Database files
*.db
*.db-journal

# Python
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Large Models
*.gguf
app/logic/fine_tuning/
