    </div>

    <!-- Image Lightbox Modal -->
    <div id="image-modal" class="image-lightbox" style="display: none;">
        <span class="lightbox-close">&times;</span>
        <img id="modal-img" src="" alt="Full view">
    </div>

    <script src="/static/js/particles.js?v=143"></script>
    <script src="/static/js/palette.js?v=142"></script>
    <script src="/static/js/utils.js?v=1"></script>
    <script src="/static/js/email_draft.js?v=1"></script>
    <script type="module" src="/static/js/app.js?v=203"></script>
</body>

</html>